<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Product by ID</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5" th:fragment="content">
        <h1 class="text-center">Search for a Product</h1>
        <form action="#" th:action="@{/get-product-by-id}" method="post" class="mt-4">
            <div class="form-group">
                <label for="id">Product ID:</label>
                <input type="text" id="id" name="id" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>