<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5" th:fragment="content">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="text-success">Data Submitted Successfully!</h1>
                <p class="lead">Thank you for submitting the data. Your submission has been recorded successfully.</p>
                <a href="/productform" class="btn btn-primary mt-3">Submit Another Product</a>
            </div>
        </div>
    </div>
	</body>
	</html>